*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 245, 247);
}
ul{
    list-style-type: none;
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
.header-container{
    width: 1024px;
    height: 44px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {
    width: 100%;
    background-color: white;
    height: 80px;
}

.hero-container{
    width: 1024px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;  
}

.hero-container a{
    color: #0066cc;
}

.hero-container button {
    background-color: transparent;
    border: none;
    outline: none;
    color: gray;
    cursor: pointer;
}

.hero-container button:hover {
    color: black;
}
.header-container h4{
    font-size: 14px;
    font-weight: normal;
}

.store-section {
    width: 1240px;
    height: 230px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.store{
    /* border: 2px solid red; */
    font-size: 80px;
    font-weight: 600;
}
.store-01 {
    /* border: 2px solid red; */
    text-align: end;
}
.store-01 .text {
    font-size: 28px;
    font-weight: 600;
}
.store-01 a{
    color: rgb(0, 102, 204);
    font-size: 14px;    
}

.first-ancher {
    margin-bottom: 12px;
}
.store-01 a:hover {
    text-decoration: underline;
}

.category-container {
    width: 1240px;
    height: 150px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-items img {
    width: 120px;
}

.category-items a{
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.card-heading {
    width: 1240px;
    /* border: 2px solid red; */
    margin: 20px auto;
    display: flex;
    padding-top: 35px;
}
.card-heading h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgb(29, 29, 31);
}
.card-heading span {
    font-size: 28px;
    color: rgb(110, 110, 115);
    font-weight: 600;
}

.cards{
    width: 1240px;
    height: 500px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.latest-card-container{
    width: 400px;
    height: 500px;
    /* border: 2px solid red; */
    border-radius: 18px;
    cursor: pointer;
    line-height: 25px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
}
.iphone {
    background-image: url(/Images/store-card-40-iphone-17-pro-202509.jpg);
    background-size: cover;
    color: white;
    padding: 24px 0 0 0;
}
.card-info{
    padding: 28px;
}
.card-info a{
    font-size: 28px;
    font-weight: 600;
}
.card-info span{
    font-size: 15px;
    font-weight: 600;
}
.macBook{
    background-image: url(/Images/store-card-40-macbook-neo-202603.jpg);
    background-size: cover;
    color: rgb(29, 29, 31);
}
.watches{
    background-image: url(/Images/store-card-40-watch-bands-202605.jpg);
    background-size: cover;
    color: rgb(29, 29, 31);;
}
.card-info .span2{
    font-weight: 400;
}
.for-card-space{
    justify-content: space-evenly;
}

.apple-store-diff{
    width: 1240px;
    height: 240px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.apple-store-diff-card{
    width: 333px;
    height: 240px;
    /* border: 2px solid red; */
    padding: 28px;
    background-color: white;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
}
.apple-store-diff-card-icon i{
    font-size: 40px;
    padding-bottom: 5px;
}
.apple-store-diff-card p{
    font-size: 24px;
    font-weight: 600;    
}

.help-card-container{
    width: 480px;
    height: 500px;
    /* border: 2px solid red; */
    color: rgb(29, 29, 31);
    border-radius: 18px;
    cursor: pointer;
    padding: 28px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
}
.help-first-img{
    background-image: url(/Images/store-card-50-specialist-video-202601_GEO_IN\ \(1\).jpg);
    background-size: cover;
}
.first-containt{
    font-size: 28px;
    font-weight: 600;
    padding: 24px 0 0 0;
}
.second-containt{
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;

}
.sec-card-containt h3{
    color: rgb(66, 66, 69);
    font-size: 12px;
    letter-spacing: 1px;
    padding-bottom: 8px;
}
.sec-card-containt a{
    font-size: 28px;
    font-weight: 600;
}
.help-second-img{
    background-image: url(/Images/store-card-50-specialist-help-202512.jpg);
    background-size: cover;
}

.father-day-container{
    width: 400px;
    height: 500px;
    border-radius: 18px;
    cursor: pointer;
}
.accessories{
    background-image: url(/Images/store-card-40-fathers-day-feature-202604.jpg);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
}
.father-day-content {
    padding: 28px;
}
.father-day-content h3{
    padding-bottom: 8px;
    color: rgb(66, 66, 69);
    font-size: 12px;
}
.father-day-content a{
    font-size: 28px;
    font-weight: 600;
}
.father-day-container1{
    width: 333px;
    height: 500px;
    /* border: 2px solid red; */
    border-radius: 18px;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
}
.airpods-img{
    width: 313px;
    height: 301px;
    /* border: 1px solid red; */
    background-image: url(/Images/store-card-33-fathers-day-product-airpods-pro-3-202606.jpg);
    background-size: cover;
    border-radius: 18px;
}
.father-day-airpods-content{
    padding: 86px 28px 28px 28px;
}
.father-day-airpods-content div{
    margin-top: 25px;
}
.span1{
    color: rgb(182, 68, 0);
    font-weight: 600; 
    font-size: 13px;
}
.span2{
    color: rgb(29, 29, 31);
    font-size: 17px; 
    font-weight: 600;
}
.span3{
    color: rgb(29, 29, 31); 
    font-size: 14px; 
    font-weight: 400;
}
.powerbeats-img{
    width: 313px;
    height: 301px;
    /* border: 1px solid red; */
    background-image: url(/Images/store-card-33-fathers-day-product-powerbeats-202606.jpg);
    background-size: cover;
    border-radius: 18px;
}
.color-choice{
    display: flex;
    justify-content: center;
}
.color-choice img{
    width: 12px;
    height: 12px;
    margin: 0 7px 25px 0;
}
.powerbeats-content {
    padding: 28px;
    padding-top: 62px;
}
.mrp{
    margin-top: 10px;
}

.apple-music-container{
    background-image: url(/Images/store-card-40-apple-music-202509.jpg);
    background-size: cover;
}
.apple-music{
    background-image: url(/Images/store-card-40-apple-music-202509.jpg);
    background-size: cover;
    padding: 28px;
}
.apple-music-content{
    padding-top: 24px;
}
.apple-music a{
    font-size: 28px;
    font-weight: 600;
}
.apple-music-content div{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(29, 29, 31);
}
.airpods-max{
    padding: 28px;
}
.airpods-max-img{
    width: 230px;
    height: 230px;
    /* border: 1px solid red; */
    background-image: url(/Images/airpods-max-select-202409-midnight.jpg);
    background-size: cover;
    margin: 13.500px auto;   
}
.color-choice-airpods-max {
    padding: 19px 0 14px 0;
}
.airpods-max-mrp{
    margin-top: 40px;
}
.airpods-4-img{
     width: 230px;
    height: 230px;
    /* border: 1px solid red; */
    background-image: url(/Images/airpods-4-anc-select-202409.jpg);
    background-size: cover;
    margin: 13.500px auto; 
}
.airpods-4{
    padding: 28px;
}
.apple-exp-card{
    width: 480px;
    height: 500px;
    background-image: url(/Images/store-card-50-apple-intelligence-202510_GEO_IN.jpg);
    background-size: cover;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px;
    cursor: pointer;
}
.apple-camp{
    background-image: url(/Images/store-card-50-apple-camp-202606.png);
}
.apple-exp-card-cont{
    color: rgb(29, 29, 31);
    font-size: 28px;
    font-weight: 600;
    padding: 28px;
}
.apple-camp-content{
    padding: 28px;
}
.apple-camp-content h3{
    color: rgb(66, 66, 69);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 8px;
}
.apple-camp-content a{
    color: rgb(29, 29, 31);
    font-size: 28px;
    font-weight: 600;
}
.apple-camp-content div{
    color: rgb(29, 29, 31);
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}
.education{
    background-image: url(/Images/store-card-40-education-202605.jpg);
    background-size: cover;
}
.quick-link{
    width: 1240px;
    margin: auto;
    padding: 0px 24px 24px 0px;
}
.button-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.pill-btn {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #1d1d1f;
    border-radius: 999px;
    color: #1d1d1f;
    font-size: 17px;
    font-weight: 400;
    background: transparent;
    transition: all 0.3s ease;
}
.pill-btn:hover {
    background: #1d1d1f;
    color: #fff;
}

.global-footer{
    width: 936px;
    /* border: 1px solid black; */
    margin: auto;
}
.global-footer-conent{
    font-size: 12px;
    color: rgb(110, 110, 115);
    font-weight: 400;
    letter-spacing: -0.10px;
}
.global-footer-conent div{
    padding-bottom: 10px;
}
.label-head{
    padding: 17px 0;
}
.label-columns{
    display: flex;
}
.label-inner-column {
    padding-left: 5px;
    padding-right: 69px;
}
.label-inner-column h3{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 9.6px;
}
.label-inner-column ul{
    display: block;
}
.label-inner-column ul li{
    font-size: 12.2px;
    color: rgba(0, 0, 0, 0.72);
    margin-bottom: 9.6px;
    cursor: pointer;
}
.label-inner-column ul li:hover{
    text-decoration: underline;
}
.global-footer-mini-end{
    display: flex;
}
.global-footer-mini{
    padding-bottom: 20px;
    font-size: 12.2px;
}
.global-footer-mini-shop{
    font-size: 12.2px;
    color:  rgba(0, 0, 0, 0.56);
}
.global-footer-mini-shop p a{
    color: rgb(0, 102, 204);
    text-decoration: underline;
}
.global-footer-mini-legal-copyright{
    color: rgba(0, 0, 0, 0.56);
    margin: 15px 35px 0 0;
}
.global-footer-mini-legal-links{
    color: rgba(0, 0, 0, 0.72);
    margin: 15px 35px 0 0;
}
.global-footer-mini-legal-links a{
    padding-right: 15px;
}
.global-footer-mini-legal-links a:hover{
    text-decoration: underline;
}
.India{
    color: rgba(0, 0, 0, 0.72);
    margin: 15px 0 0 auto;
}
.India a:hover{
    text-decoration: underline;
}
.support-agent img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgb(173, 216, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.support-agent img:hover{
    background-color: rgb(204, 229, 252);
}